*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;;
}
body{
    overflow-x: hidden;
}

  #canvas{
    position: fixed;
    margin-top: 5%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top,  red 0%,darkblue 100%); /* Chrome10-25,Safari5.1-6 */
  }
  
  .home{
      display: flex;
      justify-content: center;
  }
  .home h1{
      font-size: 325%;
      margin-top: 2.5em;
  }
  ::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}
::-webkit-scrollbar-thumb{
   background-color: rgb(145, 1, 1);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: red;
}
.nav{
    width: 100%;
    height: 5em;
    background-color: black;
    position: fixed;
    top: 0;
}
.nav{
    display: flex;
    color: red;
    align-items: center;
    justify-content: space-between;
}
.nav >p{
    font-size: 2em;
    font-weight: bold;
    padding: 2%;
}
.contents{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contents p{
    font-size: larger;
    margin-left: 2em;
    margin-right: 2em;
    cursor: pointer;
}
#about{
    display: flex;
    flex-direction: column;
}
#about h1{
    font-size: 3em;
    margin: 0 5% 0;
    color: red;
}
#about ul{
    font-size: 2em;
    margin: 0 5% 0;
}
#about li{
    color: red;
}